div{
    display: flex ;
    flex: 1;
}
.logo{
    background-image: url(./images/logo.jpg);
    background-repeat: no-repeat;
    width: 8vw;
}
.Sky{
    background-image: url(./images/sky.jpg);
    flex-direction: row;
    height: 15vh;
}
