body,div,header,main{
    display: flex;
    flex: 1;
}

body{
    background-color: rgb(114, 112, 112);
    flex-direction: column;
}

.Fleche{
    flex: 0.2;
}

.colonne{
    flex-direction: column;
}

button{
    font-size: 1.5em;
}

.Titre{
    justify-content: center;
}

div.carre{
    flex: none;
    border-radius: 4px;
    height: 10%;
    width: 10%;
    position:  absolute; 
    top: 150px;
    left: 270px;
    margin:0px;
}

.obstacle1{
    position: absolute;
    background-color: black;
    top: 90px;
    left: 12px;
    height: 90%;
    width: 12%;
}

.obstacle2{
    position: absolute;
    background-color: black;
    top: 90px;
    left: 400px;
    height: 40%;
    width: 12%;
}

.obstacle3{
    position: absolute;
    background-color: black;
    top: 669px;
    left: 400px;
    height: 30%;
    width: 55%;
}
.obstacle4{
    position: absolute;
    background-color: black;
    top: 90px;
    left: 12px;
    height: 5%;
    width: 99%;
}
.obstacle5{
    position: absolute;
    background-color: black;
    top: 138px;
    left: 575px;
    height: 19%;
    width: 42%;
}
.obstacle6{
    position: absolute;
    background-color: black;
    top: 485px;
    left: 822px;
    height: 19%;
    width: 33%;
}
.teleporteur{
    position: absolute;
    background-color: rgb(3, 77, 3);
    top: 911px;
    left: 188px;
    height: 5%;
    width: 12%;
}