body,div,form{
    display: flex;
    flex-direction: column;
    flex: 1;
}
form{
    padding: 4vh 3vw;
}
body{
    background-image: url("./IMG/texture.jpg");
    background-size: cover;
}
.Colonne{
    flex-direction: column;
}
.Ligne{
    flex-direction: row;
}
label
{
	display: block;
	width: 150px;
}
form{
    flex: 0.5;
}
#inputMdp{
    position: relative;
}
#oeil,#oeilBarre,#oeil2,#oeilBarre2{
    position: absolute;
    right: 3.5vw;
    top: 0.1vw;
}
.Titre{
    text-align: center;
}
.Encadre{
    border: 1px solid black;
    border-radius: 2%;
}
.PetitEspace{
    flex: none;
    height: 1vw;
    width: 100%;
}
.PetitEspaceV{
    flex: 1;
}
.PetitEspace1{
    flex: 0.62;
}

#oeilBarre,#oeilBarre2{
    display: none;
}
input[required]+div::before{
    content: "*";
    color: red;
}

/* .croix{
    display: none;
    color: red;
}
.check{
    display : none;
    color: green;
} */