div{
    display: flex ;
    flex: 1;
}

.Colonne{
    flex-direction: column;
}

.bleu{
    background-color: aqua;
    height: 100vh;
}

.Orange{
    background-color: orange;
    margin :5px;
}

.GaucheDroite{
    flex-direction: row;
    margin : 5px;
}

.gris{
    background-color: gray;
    flex : 1;
}

.Droite1,.Droite2,.Droite3{
    background-color: red;
    margin : 5px;
}
.Vert{
    margin-bottom: 5px;
    flex-direction: row;
    background-color: green;
}




