html, body {
    height:100vh;
    margin:0;
}

 header {
    height:15vh;
    background:red;
    width:100vw;
}

#contenu {
    padding:60px 0;
    background:#0c9;
}

#contenu div {
    width:80%;
    height:1500px;
    margin:auto;
    border:solid;

}
.bouton{
    background-color: #ccc;
    border: black 1px solid;
    justify-content: center;
    padding: 1em;
    border-radius: 0.6em;
    align-items: center;
    flex-direction: column;
}
.Menu:hover{
    background-color: red;
    box-shadow: 0.1em 0.1em 0.1em black;
}
.Menu:hover .sousMenu{
    display: flex;
}

a{
    text-decoration: none;
    color: black;
}
.Menu{
    flex-direction: column;
}
.sousMenu{
    display: none;
    flex-direction: column;
}
nav{
    position: -webkit-sticky;
    position: sticky;
    top: 0px;
    background-color: #0c9;
    width:100vw;
    flex : 1;
    display: flex;
}
.espace{
    flex: 0.8;
}